<div fxLayout="column" fxLayout.xs="column" class="footer">

    <div fxLayout="row" fxLayout.xs="column">
	
        <div fxFlexOrder="0">
            <p class="mat-body-2" id="game-info">Tic-tac-toe (American English), noughts and crosses (British English), or Xs and Os is a paper-and-pencil game for two players, X and O, who take turns marking the spaces in a 3×3 grid. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row is the winner.</p>
	</div>
	
	
        <div fxLayout="column" fxLayout.xs="column">
            <span fxFlexAlign="center" id="small-text">Contact Me</span>
	    <div fxFlexAlign="center" fxLayout="row" fxLayout.xs="column" fxFlexOrder="1" id="contact">
		<a href="https://www.facebook.com/sonng9800"><button mat-button><fa-icon [icon]="icon1" ></fa-icon></button></a>
		<a href="https://www.youtube.com/channel/UChWA0xyh-zBuxfsc3itSffA"><button mat-button><fa-icon [icon]="icon2"></fa-icon></button></a>
		<a href="https://github.com/sonnguyen9800"><button mat-button><fa-icon [icon]="icon3"></fa-icon></button></a>	   
		<a href="https://www.linkedin.com/in/sonn9800/"><button mat-button><fa-icon [icon]="icon4"></fa-icon></button></a>	    
	    </div>	
	</div>	        
    </div>

    
    
    <div id="copyright" fxFlexAlign="center">
        <p style="font-style: italic ; text-align: center;">Sound from Zapsplat.com, Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
	<span class='mat-title' id="copyright-text">Copyright @ 2020 Sonnguyen9800</span>
    </div>    
</div>
