


<mat-card class="footer">
    <mat-card-content id="game-info" class='mat-caption'>
	Tic-tac-toe (American English), noughts and crosses (British English), or Xs and Os is a paper-and-pencil game for two players, X and O, who take turns marking the spaces in a 3×3 grid. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row is the winner.
    </mat-card-content>

    
    <mat-card-actions class="actions">
        <span class="mat-caption" id="text"> Contact Me</span>
	

	<fa-icon [icon]="faCoffee"></fa-icon>

	
    </mat-card-actions>

    <mat-card-footer class="bottom-row">
	<h5 id="copyright" class="mat-caption" >
	    Copyright @ 2020 Sonnguyen9800
	</h5>	
    </mat-card-footer>
    
</mat-card>

