.footer {
    background-color : #212121;
    width: 100%;
}

.footer #game-info {
    margin: 1rem;
    color: lightgrey;
}

.footer #small-text {
    margin: 1rem;
    color: white;

}

.footer #copyright {
    color: white;
    margin: 1rem;
}

.footer #contact button {
    color: grey;
    font-size: 1rem;
}

.footer #contact button :hover {
    color: white;
    font-size: 2rem;
}
