<div class="main-component">


    <!-- Header -->
    <div>
	<section class="menu-title-section">
	    <mat-toolbar id="manu-title-card" color="secondary">
		<mat-toolbar-row>
		    <h1 class="main-menu-title">Please Select the Game Mode</h1>		    		
		</mat-toolbar-row>
	    </mat-toolbar>
	</section>  
    </div>

    <!-- main-menu -->
    <div fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="center" class="main-menu" >	
        <div>
	    <section class="select-section">	
		<mat-card class="mat-primary mat-elevation-z5">

		    <mat-card-header>
			<h2 class="mode-select-title mat-display-1">Select Your Opponents</h2>
		    </mat-card-header>

                    <mat-card-content fxLayout="column" fxLayoutGap="1rem">
			<button mat-flat-button color="primary">Versus Player (Offline)</button>		
			<button mat-flat-button color="primary">AI Hard</button>		
			<button mat-flat-button color="primary">AI Normal</button>		
			<button mat-flat-button color="primary">AI Easy</button>					
		    </mat-card-content>
		    

                    <mat-card-actions>
			Current Mode: {{mode}}
		    </mat-card-actions>
		</mat-card>		
	    </section>
	</div>


	<div>
	    <mat-card class="mat-primary mat-elevation-z5">		
		<mat-card-header color="primary">
		    <h2 class="mode-select-title mat-display-1">Select Your Map Size</h2>
		</mat-card-header>		
                <mat-card-content fxLayout="column" fxLayoutGap="1rem">
		    <button mat-flat-button color="primary">5x5</button>		
		    <button mat-flat-button color="primary">6x6</button>		
		    <button mat-flat-button color="primary">8x8</button>		
		    <button mat-flat-button color="primary">10x10</button>		
		</mat-card-content>				
                <mat-card-actions>
		    Current Size: {{size}}
		</mat-card-actions>		
	    </mat-card>		
	</div>
    </div>
    

    <section class="button-section">
	<button mat-flat-button color="primary" id="start-button" class="mat-display-1 mat-elavation-z5">
		Start the Game
	</button>		
    </section>

</div>

