<div class="main-component">


    <!-- Header -->
    <div>
	<section class="menu-title-section">
	    <mat-toolbar id="manu-title-card" color="secondary">
		<mat-toolbar-row>
		    <h1 class="main-menu-title">Please Select the Game Mode</h1>		    		
		</mat-toolbar-row>
	    </mat-toolbar>
	</section>  
    </div>

    <!-- main-menu -->
    <div fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="center center" class="main-menu" fxLayout.xs="column">
	<!-- 
             <div>
	     <section class="select-section">	
	     <mat-card class="mat-primary mat-elevation-z5">

	     <mat-card-header>
	     <h2 class="mode-select-title mat-display-1">Select Your Opponents</h2>
	     </mat-card-header>

             <mat-card-content fxLayout="column" fxLayoutGap="1rem">
	     <button mat-flat-button color="primary" (click)="selectOpponent(AllMode.Player)" >Versus Player (Offline)</button>		
	     <button mat-flat-button color="primary" (click)="selectOpponent(AllMode.Easy)">{{AllMode.Easy}}</button>		
	     <button mat-flat-button color="primary" (click)="selectOpponent(AllMode.Normal)" >{{AllMode.Normal}}</button>		
	     <button mat-flat-button color="primary" (click)="selectOpponent(AllMode.Hard)" >{{AllMode.Hard}}</button>					
	     </mat-card-content>
	     

             <mat-card-actions>
	     Current Mode: {{mode}}
	     </mat-card-actions>
	     </mat-card>		
	     </section>
	     </div> -->


	<div>
	    <mat-card class="mat-primary mat-elevation-z5">		
		<mat-card-header color="primary">
		    <h2 class="mode-select-title mat-display-1">Select Your Map Size</h2>
		</mat-card-header>		
                <mat-card-content fxLayout="column" fxLayoutGap="1rem">
		    <button mat-flat-button color="primary" (click)="selectMap(AllMap.Small)">{{AllMap.Small}}</button>		
		    <button mat-flat-button color="primary" (click)="selectMap(AllMap.Medium)">{{AllMap.Medium}}</button>		
		    <button mat-flat-button color="primary" (click)="selectMap(AllMap.Large)">{{AllMap.Large}}</button>		
		    <button mat-flat-button color="primary" (click)="selectMap(AllMap.VeryLarge)">{{AllMap.VeryLarge}}</button>		
		</mat-card-content>				
                <mat-card-actions>
		    Current Size: {{size}}
		</mat-card-actions>		
	    </mat-card>		
	</div>
    </div>
    

    <section class="button-section" >
	<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem" fxLayout.xs="column">
	    <button mat-flat-button color="primary" id="start-button" class="mat-display-1 mat-elavation-z5" (click)="playGame()">
		Start the Game
	    </button>

	    <!-- <button mat-flat-button color="primary" id="start-button" class="mat-display-1 mat-elavation-z5" (click)="toAboutPage()">
		 More Information
		 </button> -->
      </div>
      
		
    </section>

</div>

